# Reviews dataset initial analysis

### Author
Luca Mircea

### Date started
6 May 2024

### Premise
I have been asked to write an ETL framework for the Amazon reviews dataset as part of a technical challenge; I will therefore:
- Read the data in order to get familiar with it
- Identify data points & their quality issues
- Create the data model
- Implement ETLs

In [1]:
# Import libs
import pandas as pd

In [2]:
reviews = pd.read_csv(r"C:\Users\lucam\Desktop\coding\amazon-reviews-ingestion\data_short\reviews_Clothing_Shoes_and_Jewelry_5.csv")
metadata = pd.read_csv(r"C:\Users\lucam\Desktop\coding\amazon-reviews-ingestion\data_short\metadata_category_clothing_shoes_and_jewelry_only.csv")

reviews.head(10)

,Unnamed: 0,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,0,A1KLRMWW2FWPL4,0000031887,"Amazon Customer ""cameramom""","[0, 0]",This is a great tutu and at a really great pri...,5.0,Great tutu- not cheaply made,1297468800,"02 12, 2011"
1,1,A2G5TCU2WDFZ65,0000031887,Amazon Customer,"[0, 0]",I bought this for my 4 yr old daughter for dan...,5.0,Very Cute!!,1358553600,"01 19, 2013"
2,2,A1RLQXYNCMWRWN,0000031887,Carola,"[0, 0]",What can I say... my daughters have it in oran...,5.0,I have buy more than one,1357257600,"01 4, 2013"
3,3,A8U3FAMSJVHS5,0000031887,Caromcg,"[0, 0]","We bought several tutus at once, and they are ...",5.0,"Adorable, Sturdy",1398556800,"04 27, 2014"
4,4,A3GEOILWLK86XM,0000031887,CJ,"[0, 0]",Thank you Halo Heaven great product for Little...,5.0,Grammy's Angels Love it,1394841600,"03 15, 2014"
5,5,A27UF1MSF3DB2,0000031887,"C-Lo ""Cynthia""","[0, 0]",I received this today and I'm not a fan of it ...,4.0,It's ok,1396224000,"03 31, 2014"
6,6,A16GFPNVF4Y816,0000031887,design maven,"[0, 0]",Bought this as a backup to the regular ballet ...,5.0,Great for dress-up and for ballet practice,1399075200,"05 3, 2014"
7,7,A2M2APVYIB2U6K,0000031887,Jamie P.,"[0, 0]",Great tutu for a great price. It isn't a &#34;...,5.0,Great value,1356220800,"12 23, 2012"
8,8,A1NJ71X3YPQNQ9,0000031887,JBerger,"[0, 0]","My daughter liked this, and it with her costum...",4.0,Good,1384041600,"11 10, 2013"
9,9,A3EERSWHAI6SO,0000031887,"Jeffrey Hollingshead ""Jillian hollingshead""","[7, 8]",For what I paid for two tutus is unbeatable an...,5.0,WOW !! ..is all I have to say!,1349568000,"10 7, 2012"

In [3]:
metadata.head(10)

,metadataid,asin,salesrank,imurl,categories,title,description,price,related,brand
0,2005401,B00004SR8Z,{'Clothing': 1631},http://ecx.images-amazon.com/images/I/41RfWLMD...,"[['Clothing, Shoes & Jewelry', 'Luggage & Trav...",Lewis N. Clark Deluxe Neck Stash,NaN,12.80,"{'also_bought': ['B004RJWFDU', 'B00920ZC3O', '...",Lewis N. Clark
1,2217897,B0000ZE74A,{'Clothing': 4742},http://ecx.images-amazon.com/images/I/41ryA-RO...,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",Vanity Fair Women's Lollipop Plus Size Cuff Le...,NaN,NaN,"{'also_bought': ['B004PEHJ6U', 'B0000TF5VK', '...",NaN
2,2220611,B00012O12A,{'Clothing': 4},http://ecx.images-amazon.com/images/I/41Dd7rCH...,"[['Clothing, Shoes & Jewelry', 'Men', 'Clothin...",Levi's Men's 505 Regular-Fit Jean,NaN,NaN,"{'also_bought': ['B0018OR118', 'B003M2X1VI', '...",NaN
3,2324985,B0002XSXWC,{'Clothing': 300},http://ecx.images-amazon.com/images/I/41-HS7D7...,"[['Sports & Outdoors', 'Clothing', 'Men', 'Shi...",Columbia Men's Bonehead Short Sleeve Fishing S...,NaN,NaN,"{'also_bought': ['B0031RFWMU', 'B0050VLSLO', '...",NaN
4,2348742,B00066TWMU,{'Clothing': 1199},http://ecx.images-amazon.com/images/I/51UNLUB4...,"[['Clothing, Shoes & Jewelry', 'ASICS'], ['Clo...",ASICS Mesh Backpack,NaN,12.41,"{'also_bought': ['B009DB3RS4', 'B001PFA35G', '...",ASICS
5,2429152,B0007SZ9WY,{'Shoes': 21050},http://ecx.images-amazon.com/images/I/41EhAUtP...,"[['Clothing, Shoes & Jewelry', 'Shoes & Access...",Minnetonka Women's Sheepskin Slipper Boot,NaN,NaN,"{'also_bought': ['B002QB1EGA', 'B0026MRR42', '...",NaN
6,2431225,B0007UDXF2,{'Shoes': 210},http://ecx.images-amazon.com/images/I/41lhBJHi...,"[['Clothing, Shoes & Jewelry', 'R', 'Rainbow S...",Rainbow Sandals Women's Premier Leather Single...,NaN,NaN,"{'also_bought': ['B0000ANAKR', 'B000M2EVAG', '...",NaN
7,2443394,B0008172YS,{'Clothing': 5304},http://ecx.images-amazon.com/images/I/41iEPmIE...,"[['Clothing, Shoes & Jewelry', 'Men', 'Clothin...","Wonder Button, Collar Expanders, Collar Extender",NaN,5.79,"{'also_bought': ['B005OCRZO8', 'B00FP462DK', '...",Competition
8,2459972,B0009DI4N8,{'Shoes': 6920},http://ecx.images-amazon.com/images/I/410h4LKy...,"[['Clothing, Shoes & Jewelry', 'M', 'Minnetonk...",Minnetonka Women's Kiltie Suede Softsole Mocca...,NaN,NaN,"{'also_bought': ['B0026MRNGO', 'B00BRCBBYY', '...",NaN
9,2504329,B000AC7OCK,NaN,http://ecx.images-amazon.com/images/I/41SZBR21...,"[['Clothing, Shoes & Jewelry', 'ACORN']]",Acorn New Spa Thong Slipper Accessory,NaN,NaN,"{'also_bought': ['B005P4Q3XE', 'B003D3OC6E', '...",NaN

In [4]:
# we can read the data description here: https://amazon-reviews-2023.github.io/
# we find that "asin" is the ID of the item, which is a link between the two data sets
# we also have user (reviewer) id, info on categories, sales ranks, bought together, etc.

# let's unpack some of the list/dict data to see what we find in it, then we can figure out
# a data model

# this data won't need a lot of wrangling and maneuvering, it's already quite clean. We mostly need to parse the date
# in the reviews dataset, check for duplicates, and that's about it

# our fact table is the reviews, and metadata seems to be basically the products dimensions table (have to check for duplicates)
# we can still distill a few different dimension tables: brands, categories, users, bought/viewed together

# I'll implement as the model a combination between Kimball and Vault 2.0: the various categories that any item belong to
# may be super relevant information, but only for some cases, so if there are a lot of them I'll save them all in their own table;
# same for related items

In [5]:
metadata.categories[0]

"[['Clothing, Shoes & Jewelry', 'Luggage & Travel Gear', 'Travel Accessories', 'Travel Wallets']]"

In [6]:
metadata.related[0]

"{'also_bought': ['B004RJWFDU', 'B00920ZC3O', 'B00920ZC3Y', 'B004RJWFN0', 'B0054IH8SA', 'B005IUBUKQ', 'B004SY5O5K', 'B0054IH614', 'B0054IHA4C', 'B003N7NN06', 'B000WO84Z2', 'B00A66VY9O', 'B003T0J5Y0', 'B004RJWFJO', 'B003GSKWOM', 'B0054IH3RQ', 'B0041E5RVI', 'B0054IHBLY', 'B00007KUX7', 'B005VCNRA2', 'B000OEP7TQ', 'B002Q4V174', 'B001CZT4I6', 'B00E0FZSQC', 'B00ESCWAYA', 'B0054IH27W', 'B001TUZSBQ', 'B000GCS004', 'B00A66VY8U', 'B000W9DJ1Q', 'B004SY9OVA', 'B004F3MQIM', 'B00CBTES9M', 'B003MU9JZM', 'B00CBTESA6', 'B00KCU4HDY', 'B001F5UZ4A', 'B000Y0CL8K', 'B007YKUWN4', 'B0000CNR1L', 'B007YL6HY6', 'B001CZP2EQ', 'B0054IH4RU', 'B00DTRHB2G', 'B00004SRAJ', 'B002LGY1CY', 'B004C0XZM4', 'B008HYWUE0', 'B000YN01X4', 'B00A8SXGKA', 'B0054M2J6W', 'B00CBSVUBM', 'B00CO1TBJY', 'B0054IGZAW', 'B00310GKBE', 'B00920ZCE8', 'B00332F1WY', 'B006L65C3M', 'B000BQW8AS', 'B0054IGXDQ', 'B004UB056E', 'B000W91XBO', 'B00IY9K72K', 'B0084OPT8C', 'B008Y8S38G', 'B00DDTO3LM', 'B00E7P7UHK', 'B00BH3FHWK', 'B003YID7SC', 'B00GON7IMU', 'B00GYRXHDA', 'B00920ZCDY', 'B0053E9VWQ', 'B00DCFYNMG', 'B00CMPGLCM', 'B0053HLLA8', 'B004WYD94E', 'B00DDNG29O', 'B001DX699Y', 'B000DZD3QA', 'B00K81NZOE', '1612386598', 'B00013BL18', 'B0091GB832', 'B00JEVHZEU', 'B004HCECVA', 'B004SCSV2U', 'B004C106A2', 'B000FK84C6', 'B001MTUJRM', 'B007YL84VA', 'B00C75KM2C', 'B00E0P2GLM', 'B001DYDAEK', 'B004MKMH96', 'B00DZKQSY4', 'B004C0TY7E'], 'also_viewed': ['B00920ZC3Y', 'B005IUBUKQ', 'B0054IH8SA', 'B004RJWFN0', 'B004RJWFDU', 'B003T0J5Y0', 'B0041E5RVI', 'B000OEP7TQ', 'B00KCU4HDY', 'B0054IHA4C', 'B00920ZC3O', 'B001CZKYQ2', 'B0058DPWK2', 'B00CBTES9M', 'B0054IGZAW', 'B0054IH3RQ', 'B004T2IXSQ', 'B0054IH614', 'B003VKA38K', 'B00CBTETPA', 'B0054IH7NG', 'B00006I596', 'B005PP0GUE', 'B00920ZCDO', 'B00CMPGLAO', 'B00I5IW1N8', 'B0054M2J6W', 'B0009U7R9I', 'B0094DZZ0Y', 'B001EPQ9GY', 'B00A66VX6I', 'B0054IH4RU', 'B000BQW8AS', 'B00IRHG92Q', 'B00BTZI6EC', 'B0040GR4O0', 'B001MTUJRM', 'B00JQEO2FA', 'B007XAI1EC', 'B00A66VY9O', 'B0052ECP7U', 'B003GEK09I', 'B00920ZCF2', 'B001F6M4IO', 'B00KKK27GU', 'B00CBTESXS', 'B00920ZCE8', 'B003J367DE', 'B003OXJL5K', 'B001CZT30A', 'B00007KUX7', 'B005PP4FCO', 'B00JI6TRR4', 'B0054IH27W', 'B00KM6HDXY', 'B0084K6G7O', 'B00906QVKI', 'B002EQ9NOW']}"

In [7]:
# damn that's a lot, defo worth its own table

In [8]:
metadata.shape

(23033, 10)

In [9]:
reviews.shape

(278677, 10)

In [10]:
# the datasets are absolutely civilized in size lol

In [11]:
metadata.asin.nunique()

23033

In [12]:
# wow so nice! the metadata table is already the products dimensions table, neat!
# let's check for nulls
sum(pd.isnull(metadata['asin']))

0

In [13]:
sum(metadata['asin'].isin(['nan', 'None', 'NaN', 'NA']))  # let's also check if NaNs might have snuck in as strings

0

In [14]:
reviews.asin.nunique()

23033

In [15]:
# ok we have a full match, all the items show up in the reviews, neat
# now let's see how many items we usually have in the categories and related columns

# neat little tricks for turning list strings into lists hahaha:
# https://stackoverflow.com/questions/1894269/how-to-convert-string-representation-of-list-to-a-list
import ast
import matplotlib.pyplot as plt

metadata['count_distinct_categories'] = [
    len(ast.literal_eval(list_of_categories_string))
    for list_of_categories_string in metadata['categories']
]

metadata[['count_distinct_categories']].hist(bins=10)

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
# silly histogram won't let us see properly
metadata['count_distinct_categories'].value_counts()

In [ ]:
# so in the secondary dimensions table called extra_categories we can the categories
# as a string, one per row; let's do the same for the related items, that one's gonna be much more dramatic

metadata['count_also_bought'] = [
    len(ast.literal_eval(str(list_of_related_items))['also_bought'])  # this ast.literal_eval thingie is fireee
    if str(list_of_related_items) != 'nan' and 'also_bought' in (ast.literal_eval(str(list_of_related_items))).keys()
    else 0
    for list_of_related_items in metadata['related']
]

# it errors out at element 33
# metadata.loc[33, 'related']

metadata['count_also_viewed'] = [
    len(ast.literal_eval(str(list_of_related_items))['also_viewed'])
    if str(list_of_related_items) != 'nan' and 'also_viewed' in (ast.literal_eval(str(list_of_related_items))).keys()
    else 0
    for list_of_related_items in metadata['related']
]

# please note: the above lines are list comprehension, not a for-loop, despite the misleading "for"
# you can see more details here https://stackoverflow.com/questions/1247486/list-comprehension-vs-map
# but the gist of the post is that in some situations (also depending on the data size)
# list comperehension can be faster than map methods.
# I also prefer it for readability reasons, it feels more straight forward, cleaner code, etc.
# but in a real life situation I'd probably test/prototype whether this works faster or not

metadata['count_all_related'] = metadata['count_also_bought'] + metadata['count_also_viewed']

metadata[['count_also_bought', 'count_also_viewed', 'count_all_related']].hist(bins=150)  # this one needs _a bunch_ of bins

In [ ]:
# it's super interesting to see the items with either very few (< 50) related items, and those with 150+
# this data is probably so revealing about customer behaviour and whatnot
# you could e.g. do PCA and/or clustering to see why an object ends up in the low or the high
# it would also be cool to know what the items with many related items have in common

# let me also check the sales rank

metadata['count_salesrank'] = [
    len((ast.literal_eval(str(list_of_related_items))).keys())
    if str(list_of_related_items) != 'nan'
    else 0
    for list_of_related_items in metadata['salesrank']
]

metadata[['count_salesrank']].hist(bins=10)

In [ ]:
# either unranked or one single rank

# the data looks pretty straightforward. I'll still mess around with
# how to compile the helpfulness of reviews and maybe how to fix the date (or just parse it from the UNIX lol)
# but we can safely start with the model diagram

In [ ]:
# let's create a neat date out of the reviews data
# the pattern seems to be "mm dd, yyyy", with dd not being zero padded but mm yes
# let's parse it, then check if it produces valid dates,
# and if we want to be extra thorough we'll compare it to the unix date, see if it's +/- 1
# (which we need to do because UNIX uses UTC as a default, while the date seems to be in "human language")
# we'll save the date as a string, it's easier to manipulate, more error-proof in the DF since every
# single language and DWH seems to have its own logic for managing dates, and easily transformable

reviews['review_date_parsed'] = [
    date_string.split(",")[1].strip()  # year
    + date_string.split(",")[0].split(" ")[0]  # month
    + date_string.split(",")[0].split(" ")[1].zfill(2)
    for date_string in reviews['reviewTime']
]

# here we have a trade-off to make between saving the date as a string vs. an integer
# probably will go for integer since it's more efficient with memory usage

reviews.head(10)

In [ ]:
from datetime import datetime

reviews['datetime_from_unix'] = [
    datetime.utcfromtimestamp(int(unix_timestamp)).strftime('%Y-%m-%d %H:%M:%S')
    for unix_timestamp in reviews['unixReviewTime']
]

reviews.head(5)

In [ ]:
# now let's check if the dates parsed from strings match those from unix
sum(reviews['review_date_parsed'].astype(str) == [
   datetime_string[:10].replace("-", "")
    for datetime_string in reviews['datetime_from_unix']
])

# note: comparing a list of str is less efficient than a list of int, but it's less headache at this point
# to just do it this way instead of extra transformations

In [ ]:
len(reviews)

# the number of matches between dates is equal to the number of rows => perfect matches.
# the data is so clean and nice omg <3<3

In [ ]:
# I'll save review_helpful_yes and review_helpful_no in separate column
# this will make it easier for analysts & scientists to use straight out of the box
# even if saving additional columns is something we pay for extra. If we wanted to
# optimize for DB costs, I'd keep it the way it is and let scientists parse it when they need it,
# Although it's hard to tell whether 2 int columns are more efficient storage than 1 str

# since many of them are zero, we could also leave them as NaN to save DWH space

reviews['count_review_helpful_yes'] = [
    ast.literal_eval(str(review_helpfulness_list))[0]
    for review_helpfulness_list in reviews['helpful']
]

reviews['count_review_helpful_no'] = [
    ast.literal_eval(str(review_helpfulness_list))[1]
    for review_helpfulness_list in reviews['helpful']
]

reviews.head(5)

In [ ]:
reviews['helpful'][1]

In [ ]:
# we'll create a review_id column to use as the primary key of this table (to uniquely identify observations)
# I'll just concat reviewerId and asin, although the resulting key is
# highly suboptimal in terms of storage, querying, matching, etc.
# Ideally we'd create short uuids for it

reviews['review_id'] = reviews['asin'] + reviews['reviewerID']

reviews.columns

In [ ]:
metadata.columns

In [ ]:
# the metadataid column is semi-useless & kind of confuses us more than anything, since each row uniquely
# identifies one item
metadata.head(5)

In [ ]:
metadata.imurl[1]

In [ ]:
# we should count the number of URLs to see how many pictures we have per item
metadata['count_img_links'] = [image_list_str.count("http") for image_list_str in metadata['imurl']]

In [ ]:
metadata['count_img_links'].value_counts()

In [ ]:
metadata['categories'][0]

In [ ]:
metadata['categories'][1]

In [ ]:
metadata['categories'][2]

In [ ]:
# God these nested lists are nas-tee
# nonetheless, let's flatten them and check if all the
# categories in the salesrank column can also be found in the categories

# if yes, we can lob them in the same table

metadata['categories_as_list'] = [
    ast.literal_eval(str(category_lists_string))
    for category_lists_string in metadata['categories']
]

metadata.head(5)

In [ ]:
metadata['categories_as_list'][1]

In [ ]:
# listception: https://stackoverflow.com/questions/952914/how-do-i-make-a-flat-list-out-of-a-list-of-lists
metadata['categories_as_flat_list'] = [
    [
        element
        for sub_list in nested_list
        for element in sub_list
    ]
    for nested_list in metadata['categories_as_list']
]
metadata['categories_as_flat_list'][0]

In [ ]:
metadata['categories_as_flat_list'][1]

In [ ]:
# ok there are some duplicates, let's deduplicate the data to make it nicer
metadata['categories_list_clean'] = [
    list(set(categories_list_flat))
    for categories_list_flat
    in metadata['categories_as_flat_list']
]

metadata['categories_list_clean'][0]

In [ ]:
metadata['categories_list_clean'][1]

In [ ]:
metadata['dict_of_sales_rank'] = [
    ast.literal_eval(str(sales_rank_dict))
    if sales_rank_dict is not None and str(sales_rank_dict) != 'nan'
    else {'Unranked'}
    for sales_rank_dict in metadata['salesrank']
]

In [ ]:
metadata['category_ranked'] = [
    next(iter(ranking_dict))
    if len(ranking_dict) > 0
    else 'Unranked'
    for ranking_dict
    in metadata['dict_of_sales_rank']
]

In [ ]:
metadata['category_ranked'][0]

In [ ]:
# finally check if all the ranked categories (except unranked) show up in the category list

metadata['ranked_category_present_in_categories'] = [  # what a column name lol
    True if 
    metadata.loc[row_number, 'category_ranked'] in metadata.loc[row_number, 'categories_list_clean']
    or metadata.loc[row_number, 'category_ranked'] == 'Unranked'
    else False
    for row_number in range(len(metadata))
]

In [ ]:
sum(metadata['ranked_category_present_in_categories']) == len(metadata)

In [ ]:
sum(metadata['ranked_category_present_in_categories'])

In [ ]:
# ah this is pretty annoying, only some of the ranked categories show up in the list of categs. Let's check some examples
metadata[~metadata['ranked_category_present_in_categories']]

In [ ]:
metadata['categories_list_clean'][0]

In [ ]:
metadata['dict_of_sales_rank'][0]

In [ ]:
# It's sort of in there but not really, which is annoying and suboptimal.
# Given time + stakeholders + etc., I'd look into correcting this.
# since not all ranked categories show up in the categories, we'll make separate tables

In [ ]:
# can we get ratings of 0 or missing?
reviews.overall.value_counts()

In [ ]:
# note: the validation check found multiple user names to each user id, so I implemented that in the data model
# and products despite skipping it in this analysis